#toolbar {
  width: 270px;
  height: 50px;
  border-radius: 2px;
  background-color: #00000080;
  border: 1px solid rgba(255, 255, 255, 0.3);
  backdrop-filter: saturate(180%) blur(4px);
  border-radius: 20px;
  padding: 7px 14px;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  bottom: 0px;
  opacity: 0.9;
  z-index: 999;
}

.toolbar-button {
  float: left;
  height: 50px;
  width: 50px;
  margin: 0 2px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.1s ease-in-out;
  border-radius: 10px;
  background-size: 60%;
  background-position: center;
  background-repeat: no-repeat;
  /* overflow:hidden; */
}

.toolbar-button:hover {
  background-size: 55%;
  background-color: #00000080;
}

.subbar {
  /* 根据模块多少自适应高度 */
  height: auto;
  width: 50px;
  bottom: 50px;
  position: absolute;
  /* z-index:5;  */
  display: none;
}

.toolbar-button:hover .subbar {
  display: block;
}

.box {
  background: #f00;
  width: 0px;
  height: 0px;
  position: absolute;
  opacity: 0.5;
  cursor: move;
}

.icon {
  width: 80px;
  height: 100%;
  float: left;
  margin-left: 5px;
  transition: all 0.1s ease-in-out;
  background-size: 50%;
  background-position: center;
  background-repeat: no-repeat;
  vertical-align: middle;
  text-align: center;
  color: #eeeeee;

}

.icon:hover {
  background-size: 60%;
  background-color: #8a8a8a;
}